---
import PrimarySiteLayout from "../layouts/PrimarySiteLayout.astro";

// data config
import { appConfig } from "../config/appConfig";

const {category} = Astro.props;

let pageTitle = "All";
pageTitle = category ?? pageTitle;
let pageDescripton = `Below is the list of ${pageTitle} blogs related to topic`;
---

<PrimarySiteLayout>
  <div class="max-w-3xl mx-auto text-center">
    <h1 class="my-2 card-title text-3xl font-semibold capitalize">{pageTitle} Posts</h1>
    <p class="card-sub-title italic text-xl">{pageDescripton}</p>
  </div>
  <div class="my-6 border border-transparent border-t-black/10">
    <div class="px-8 pt-4 sm:px-0 grid grid-cols-2 sm:grid-cols-3 gap-2">
      <div class="col-span-full sm:col-span-2 grid grid-cols-1 md:grid-cols-2 gap-2">
        {
          appConfig.blogArticles.map((blogArticle) => (
            <a
              class="card-container p-0 sm:col-span-1 group hover:bg-black/5"
              href={`/arvind-portfolio-website/${blogArticle.slug}`}
            >
              <div class="flex flex-col gap-2">
                <div class="overflow-hidden">
                  <img
                    class="w-full h-full object-cover group-hover:scale-110"
                    src={`/public/${blogArticle.image}`}
                    alt={""}
                  />
                </div>
                <div class="px-2 flex flex-col gap-2">
                  <h3 class="card-regular-description text-blue-300 group-hover:underline group-hover:underline-offset-4 group-hover:text-blue-400">
                    {blogArticle.title}
                  </h3>
                  <p class="card-sub-title mb-4">{blogArticle.description}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div>
      <div class="hidden sm:block col-span-1">
      </div>
    </div>
  </div>
</PrimarySiteLayout>
 